{
  "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
  },
  "extends": "google",
  "rules": {
    "max-len": ["error", 100]
  }
}